*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #AD9551;
}

nav{
    background-color: #26262686;
}

.nav-item a{
    color: #AD9551;
    font-size: 20px;
    transition: 0.5s;
}

.nav-item{
    padding-left: 29px;
}

.nav-item a:hover{
    color: beige;
}

.hero{
    margin-top: 29px;
    width: 100%;
    height: auto;
}

.hero img{
    width: 100%;
    height: auto;
}

/*for the rooms part */


body{
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #262626;
    color: #AD9551;
}

.row{
    margin-top: 50px;
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}

.row .left{
    overflow: hidden;
}


.row .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.row .right{
    display: flex;
    align-items: center;
}

.row .right .content{
    padding-left: 20px;
}

.row .right .content p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
}

@media(max-width:991px){
    .row .right .content{
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .row{
        width: 90%;
        grid-template-columns: 1fr;
    }
}

/*css for services */


.Services{
    margin-top: 50px;
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
}

.Services .left{
    overflow: hidden;
}


.Services .left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.Services .right{
    display: flex;
    align-items: center;
}

.Services .right .content{
    padding-left: 20px;
}

.Services .right .content p{
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
}

@media(max-width:991px){
    .Services .right .content{
        padding-left: 0;
    }
}
@media (max-width: 768px) {
    .Services{
        width: 90%;
        grid-template-columns: 1fr;
    }
}




/*gallery css */
.gallery{
    background-color: #262626;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.gallery .gRow1 img{
    cursor: pointer;
}

.gallery .gRow2 img{
    cursor: pointer;
}

.gallery img{
    transition: 0.3s ease-in-out;
}

.gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.09);
    background: black;
}


/* closure part */
.closure{
    height: auto;
    background: #262626;
    width: 100%;
    margin-top: 100px;
    justify-content: space-between;
    display: grid;
    max-width: 1200px;
  }
  
  .closureTitle{
    height: auto ;
    font-weight: 900;
    font-size: 2em;
    color: #F3DfBA;
    padding-left: 40px;
  }
  
  .closureContents{
    display: flex;
  }
  
  .closureLeft{
    width: 33.33%;
    display: flex;
  }
  
  .closureLeft img{
    margin-left: 30px;
  }
  
  .leftText p{
    color: white;
    text-align: left;
    padding: 20px;
    padding-left: 40px;
  }
  
  .leftIcons{
    padding-top: 15px;
  }
  
  .closureCenter{  width: 33.33%;
    
  }
  
  .closureRight{
    background-color: blue;
    width: 33.33%;
  }
  
  
  .loginbox input{
    width: 30%;
  }
  
  input{
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F3DfBA;
    outline-style: none;
    color: white;
  }
  
  .names{
    display: flex;
  }
  
  .formlabel{
    display: flex;
    color: rgb(236, 236, 236);
  }
  
  .formlabel .last{
    margin-left: 26%;
  }
  
  .names .lastName{
    margin-left: 10%;
  }
  
  .emailSection .email{
    width: 70%;
  }
  
  
  .formlabel .lastAdd{
    margin-left: 20%;
  }


/*last part testing */



.ccards{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;

}

.ccard{
  
  color: white;
  padding: 1rem;
  height: auto;
  min-height: 4rem;
  margin-left: 30px;
}



  


@media (min-width: 900px) {
    .ccards { grid-template-columns: repeat(3, 1fr); }
  }


  .loginbox input{
    width: 30%;
  }
  
  input{
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #F3DfBA;
    outline-style: none;
    color: white;
  }
  
  .names{
    display: flex;
  }
  
  .formlabel{
    display: flex;
    color: rgb(236, 236, 236);
  }
  
  .formlabel .last{
    margin-left: 26%;
  }
  
  .names .lastName{
    margin-left: 10%;
  }
  
  .emailSection .email{
    width: 70%;
  }
  
  
  .formlabel .lastAdd{
    margin-left: 20%;
  }